.App {
  text-align: center;
}
.App-header {
  color: white;
  background-image: url('./Images/softDev.jpg');
  background-size: cover;
  background-repeat: round;
  border: 3px solid black;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  
}

.App-link {
  color: #61dafb;
}

#title{
  font-family: Kaushan Script;
  font-size: 30px;
  color:blue;
  
}

#profile-body{
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 2vmin);
 

}
.profile-head{
  background-repeat: round;
  background-size: cover;
  font-family: Kaushan Script;
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  
}
#name{
  align-items: center;
  color:blue;
  font-size: 60px;
  font-family: Kaushan Script;
 
}
#links{
  display: inline-block;

}
Row{
  font-family: Kaushan Script;
}
p{
  font-family: Kaushan Script;
  font-size: 20px;
}
.card-title{
  font-family: Kaushan Script;
  font-size: 24px;
}
#pcrepair{
  font-family: Kaushan Script;
  /* border: 1px solid black; */
  margin: 1px;
  color: blue;
}
#network{
  font-family: Kaushan Script;
  /* border: 1px solid black; */
  margin: 1px;
  color: blue;
} 
#programs{
  font-family: Kaushan Script;
  padding-top: 2px;
  /* border: 1px solid black; */
  margin: 1px;
  color: blue;
} 
#text-body{
  color: black;
}
#profile-title{
  color: black;
  text-underline-position: below;
}
 


