.App {
  text-align: center;
}
.App-header {
  color: white;
  background-image: url('./Images/softDev.jpg');
  background-size: cover;
  background-repeat: round;
  border: 3px solid black;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

#title{
  font-family: initial;
  font-size: 30px;
  color:red;
  text-shadow: 2px 2px black;
}

#profile-body{
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  border: 3px solid black;
  background-image: url('./Images/software.jpg');
  background-repeat: round;
  background-size: cover;
  color:red;
  text-shadow: 2px 2px black;
}
.profile-head{
  
  font-family: initial;
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
#name{
  align-items: center;
  color:red;
  font-size: 60px;
  font-family: initial;
  text-shadow: 2px 2px black;
}
#links{
  display: inline-block;

}
Row{
  font-family: initial;
}
p{
  font-family: initial;
  font-size: 20px;
}
.card-title{
  font-family: initial;
  font-size: 24px;
}
